<!doctype html>
<html lang="en">
	<head>
		<!-- Use Bootstrap CSS infrastructure (mobile friendly) -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">

		<style>
			#dropZone {
				border-style: solid;
				border-width: 1px;
				border-color: lightgray;
			}
		</style>

	</head>
	<body>
		<!-- Responsive fixed-width container -->
		<div class="container">

			<div class="page-header">
				<h1>DICOM Summary</h1>
				<p>
					<b>Usage:</b> Drag and drop a DICOM Part 10 file into the region below for a summary of the key elements.
					<b>Note:</b> This is a port of Cornerstone's <a href="https://github.com/cornerstonejs/dicomParser">dicomParser.js</a>
				</p>
			</div>
			
			<!-- Full-width container -->
			<div id="dropZone" class="container-fluid">
				<br>
				<div id="status" class="alert alert-success">
					<div id="statusText">
						Status: Ready (no file loaded)
					</div>
					<ul id="warnings">

					</ul>
				</div>

				<div class="panel panel-default ">
					<!-- First row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4"><h3>Patient</h3></div>
							<div class="col-md-4"><h3>Study</h3></div>
							<div class="col-md-4"><h3>Series</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2">Name:</div>
							<div class="col-md-2"><span data-dicom="x00100010"></span></div>
							<div class="col-md-2">Description:</div>
							<div class="col-md-2"><span data-dicom="x00081030"></span></div>
							<div class="col-md-2">Description:</div>
							<div class="col-md-2"><span data-dicom="x0008103e"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2">ID:</div>
							<div class="col-md-2"><span data-dicom="x00100020"></span></div>
							<div class="col-md-2">Protocol:</div>
							<div class="col-md-2"><span data-dicom="x00181030"></span></div>
							<div class="col-md-2">No:</div>
							<div class="col-md-2"><span data-dicom="x00200011"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2">DOB:</div>
							<div class="col-md-2"><span data-dicom="x00100030"></span></div>
							<div class="col-md-2">Accession No:</div>
							<div class="col-md-2"><span data-dicom="x00080050"></span></div>
							<div class="col-md-2">Modality:</div>
							<div class="col-md-2"><span data-dicom="x00080060"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2">Sex:</div>
							<div class="col-md-2"><span data-dicom="x00100040"></span></div>
							<div class="col-md-2">ID:</div>
							<div class="col-md-2"><span data-dicom="x00200010"></span></div>
							<div class="col-md-2">Body Part:</div>
							<div class="col-md-2"><span data-dicom="x00180015"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Date:</div>
							<div class="col-md-2"><span data-dicom="x00080020"></span></div>
							<div class="col-md-2">Date:</div>
							<div class="col-md-2"><span data-dicom="x00080021"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Time:</div>
							<div class="col-md-2"><span data-dicom="x00080030"></span></div>
							<div class="col-md-2">Time:</div>
							<div class="col-md-2"><span data-dicom="x00080031"></span></div>
						</div>
					</div>
					<!-- Second row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4"><h3>Instance</h3></div>
							<div class="col-md-4"><h3>Image</h3></div>
							<div class="col-md-4"><h3>Equipment</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2">Instance No:</div>
							<div class="col-md-2"><span data-dicom="x00200013"></span></div>
							<div class="col-md-2">Rows:</div>
							<div class="col-md-2"><span data-dicomUint="x00280010"></span></div>
							<div class="col-md-2">Manufacturer:</div>
							<div class="col-md-2"><span data-dicom="x00080070"></div>
						</div>
						<div class="row">
							<div class="col-md-2">Acquisition No:</div>
							<div class="col-md-2"><span data-dicom="x00200012"></span></div>
							<div class="col-md-2">Columns:</div>
							<div class="col-md-2"><span data-dicomUint="x00280011"></span></div>
							<div class="col-md-2">Model:</div>
							<div class="col-md-2"><span data-dicom="x00081090"></div>
						</div>
						<div class="row">	
							<div class="col-md-2">Acquisition Date:</div>
							<div class="col-md-2"><span data-dicom="x00080022"></span></div>
							<div class="col-md-2">Photomet. Interp.:</div>
							<div class="col-md-2"><span data-dicom="x00280004"></span></div>
							<div class="col-md-2">Station Name:</div>
							<div class="col-md-2"><span data-dicom="x00081010"></div>
						</div>
						<div class="row">
							<div class="col-md-2">Acquisition Time:</div>
							<div class="col-md-2"><span data-dicom="x00080032"></span></div>
							<div class="col-md-2">Image Type:</div>
							<div class="col-md-2"><span data-dicom="x00080008"></span></div>
							<div class="col-md-2">AE Title:</div>
							<div class="col-md-2"><span data-dicom="x00020016"></div>
						</div>
						<div class="row">
							<div class="col-md-2">Content Date:</div>
							<div class="col-md-2"><span data-dicom="x00080023"></span></div>
							<div class="col-md-2">Bits Alloc.:</div>
							<div class="col-md-2"><span data-dicomUint="x00280100"></span></div>
							<div class="col-md-2">Institution Name:</div>
							<div class="col-md-2"><span data-dicom="x00080080"></div>
						</div>
						<div class="row">
							<div class="col-md-2">Content Time:</div>
							<div class="col-md-2"><span data-dicom="x00080033"></span></div>
							<div class="col-md-2">Bits Stored:</div>
							<div class="col-md-2"><span data-dicomUint="x00280101"></span></div>
							<div class="col-md-2">Software Version:</div>
							<div class="col-md-2"><span data-dicom="x00181020"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">HighBit:</div>
							<div class="col-md-2"><span data-dicomUint="x00280102"></span></div>
							<div class="col-md-2">Implement. Vers.:</div>
							<div class="col-md-2"><span data-dicom="x00020013"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Pixel Rep.(0=us):</div>
							<div class="col-md-2"><span data-dicomUint="x00280103"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>					
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Rescale Slope:</div>
							<div class="col-md-2"><span data-dicom="x00281053"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>					
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Rescale Intercept.:</div>
							<div class="col-md-2"><span data-dicom="x00281052"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Image Pos. Pat.:</div>
							<div class="col-md-2"><span data-dicom="x00200032"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Image Orient. Pat.:</div>
							<div class="col-md-2"><span data-dicom="x00200037"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Pixel Spacing:</div>
							<div class="col-md-4"><span data-dicom="x00280030"></span></div>
							
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2">Samples Per Pixel:</div>
							<div class="col-md-2"><span data-dicomUint="x00280002"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>	
					</div>	
					<!-- Third row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12"><h3>UIDs</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2">Study UID:</div>
							<div class="col-md-8"><span data-dicom="x0020000d"></div>
							<div class="col-md-2"></div>							
						</div>
						<div class="row">
							<div class="col-md-2">Series UID:</div>
							<div class="col-md-8"><span data-dicom="x0020000e"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2">Instance UID:</div>
							<div class="col-md-8"><span data-dicom="x00080018"></div>
							<div class="col-md-2"></div>
						</div>	
						</div><div class="row">
							<div class="col-md-2">SOP Class UID:</div>
							<div class="col-md-8"><span data-dicom="x00080016"></div>
							<div class="col-md-2"></div>
						</div>					
						<div class="row">
							<div class="col-md-2">Transfer Syntax UID:</div>
							<div class="col-md-8"><span data-dicom="x00020010"></div>
							<div class="col-md-2"></div>
						</div>					
						<div class="row">
							<div class="col-md-2">Frame of Ref. UID:</div>
							<div class="col-md-8"><span data-dicom="x00200052"></div>
							<div class="col-md-2"></div>							
						</div>
						<div class="row">
							<div class="col-md-2">Study UID:</div>
							<div class="col-md-7"><span data-dicom="x0020000d"></div>
							<div class="col-md-2"><img src="images/health_physics_logo_210_99.jpg" alt="HP logo" height="99" width="210"></div>							
						</div>
				</div>      
			</div>
		</div>
	</body>

	<!-- Run using node.js paths  -->
	<script src="javascripts/dicomParser.js"></script>
	<script src="javascripts/jquery.min.js"></script>

	<!-- Replace Javascript with single .js file -->
	<script src="javascripts/extractData.js"></script>

</html>
