<!doctype html>
<html lang="en">
	<head>
		<!-- Use Bootstrap CSS infrastructure (mobile friendly) -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">-->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">

		<style>
			#dropZone {
				border-style: solid;
				border-width: 1px;
				border-color: lightgray;
			}
		</style>

	</head>
	<body>
		<!-- Responsive fixed-width container -->
		<div class="container">

			<div class="page-header">
				<h1>DICOM Summary</h1>
				<p>
					<b>Usage:</b> Drag and drop a DICOM Part 10 file into the region below for a summary of the key elements.
					<b>Note:</b> This is a port of Cornerstone's <a href="https://github.com/cornerstonejs/dicomParser">dicomParser.js</a>
				</p>
			</div>
			
			<!-- Full-width container -->
			<div id="dropZone" class="container-fluid">
				<br>
				<!-- Required ... -->
				<div id="status" class="alert alert-success">
					<div id="statusText">
						Status: Ready (no file loaded)
					</div>
					<ul id="warnings">

					</ul>
				</div>

				<div class="panel panel-default ">
					<!-- First row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 bg-secondary text-white"><h3>Patient</h3></div>
							<div class="col-md-4 bg-secondary text-white"><h3>Study</h3></div>
							<div class="col-md-4 bg-secondary text-white"><h3>Series</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Name:</b></div>
							<div class="col-md-2"><span data-dicom="x00100010"></span></div>
							<div class="col-md-2"><b>Description:</b></div>
							<div class="col-md-2"><span data-dicom="x00081030"></span></div>
							<div class="col-md-2"><b>Description:</b></div>
							<div class="col-md-2"><span data-dicom="x0008103e"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>ID:</b></div>
							<div class="col-md-2"><span data-dicom="x00100020"></span></div>
							<div class="col-md-2"><b>Protocol:</b></div>
							<div class="col-md-2"><span data-dicom="x00181030"></span></div>
							<div class="col-md-2"><b>No:</b></div>
							<div class="col-md-2"><span data-dicom="x00200011"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>DOB:</b></div>
							<div class="col-md-2"><span data-dicom="x00100030"></span></div>
							<div class="col-md-2"><b>Accession No:</b></div>
							<div class="col-md-2"><span data-dicom="x00080050"></span></div>
							<div class="col-md-2"><b>Modality:</b></div>
							<div class="col-md-2"><span data-dicom="x00080060"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Sex:</b></div>
							<div class="col-md-2"><span data-dicom="x00100040"></span></div>
							<div class="col-md-2"><b>ID:</b></div>
							<div class="col-md-2"><span data-dicom="x00200010"></span></div>
							<div class="col-md-2"><b>Body Part:</b></div>
							<div class="col-md-2"><span data-dicom="x00180015"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Date:</b></div>
							<div class="col-md-2"><span data-dicom="x00080020"></span></div>
							<div class="col-md-2"><b>Date:</b></div>
							<div class="col-md-2"><span data-dicom="x00080021"></span></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Time:</b></div>
							<div class="col-md-2"><span data-dicom="x00080030"></span></div>
							<div class="col-md-2"><b>Time:</b></div>
							<div class="col-md-2"><span data-dicom="x00080031"></span></div>
						</div>
					</div>
					<!-- Second row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 bg-secondary text-white"><h3>Instance</h3></div>
							<div class="col-md-4 bg-secondary text-white"><h3>Image</h3></div>
							<div class="col-md-4 bg-secondary text-white"><h3>Equipment</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Instance No:</b></div>
							<div class="col-md-2"><span data-dicom="x00200013"></span></div>
							<div class="col-md-2"><b>Rows:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280010"></span></div>
							<div class="col-md-2"><b>Manufacturer:</b></div>
							<div class="col-md-2"><span data-dicom="x00080070"></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Acquisition No:</b></div>
							<div class="col-md-2"><span data-dicom="x00200012"></span></div>
							<div class="col-md-2"><b>Columns:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280011"></span></div>
							<div class="col-md-2"><b>Model:</b></div>
							<div class="col-md-2"><span data-dicom="x00081090"></div>
						</div>
						<div class="row">	
							<div class="col-md-2"><b>Acquisition Date:</b></div>
							<div class="col-md-2"><span data-dicom="x00080022"></span></div>
							<div class="col-md-2"><b>Photomet. Interp.:</b></div>
							<div class="col-md-2"><span data-dicom="x00280004"></span></div>
							<div class="col-md-2"><b>Station Name:</b></div>
							<div class="col-md-2"><span data-dicom="x00081010"></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Acquisition Time:</b></div>
							<div class="col-md-2"><span data-dicom="x00080032"></span></div>
							<div class="col-md-2"><b>Image Type:</b></div>
							<div class="col-md-2"><span data-dicom="x00080008"></span></div>
							<div class="col-md-2"><b>AE Title:</b></div>
							<div class="col-md-2"><span data-dicom="x00020016"></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Content Date:</b></div>
							<div class="col-md-2"><span data-dicom="x00080023"></span></div>
							<div class="col-md-2"><b>Bits Alloc.:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280100"></span></div>
							<div class="col-md-2"><b>Institution Name:</b></div>
							<div class="col-md-2"><span data-dicom="x00080080"></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Content Time:</b></div>
							<div class="col-md-2"><span data-dicom="x00080033"></span></div>
							<div class="col-md-2"><b>Bits Stored:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280101"></span></div>
							<div class="col-md-2"><b>Software Version:</b></div>
							<div class="col-md-2"><span data-dicom="x00181020"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>HighBit:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280102"></span></div>
							<div class="col-md-2"><b>Implement. Vers.:</b></div>
							<div class="col-md-2"><span data-dicom="x00020013"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Pixel Rep.(0=us):</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280103"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>					
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Rescale Slope:</b></div>
							<div class="col-md-2"><span data-dicom="x00281053"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>					
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Rescale Intercept:</b></div>
							<div class="col-md-2"><span data-dicom="x00281052"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Image Pos. Pat.:</b></div>
							<div class="col-md-2"><span data-dicom="x00200032"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Image Orient. Pat.:</b></div>
							<div class="col-md-2"><span data-dicom="x00200037"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Pixel Spacing:</b></div>
							<div class="col-md-4"><span data-dicom="x00280030"></span></div>
							
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"><b>Samples Per Pixel:</b></div>
							<div class="col-md-2"><span data-dicomUint="x00280002"></span></div>
							<div class="col-md-2"></div>
							<div class="col-md-2"></div>
						</div>	
					</div>	
					<!-- Third row -->
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12 bg-secondary text-white"><h3>UIDs</h3></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Study UID:</b></div>
							<div class="col-md-8"><span data-dicom="x0020000d"></div>
							<div class="col-md-2"></div>							
						</div>
						<div class="row">
							<div class="col-md-2"><b>Series UID:</b></div>
							<div class="col-md-8"><span data-dicom="x0020000e"></div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							<div class="col-md-2"><b>Instance UID:</b></div>
							<div class="col-md-8"><span data-dicom="x00080018"></div>
							<div class="col-md-2"></div>
						</div>	
						</div><div class="row">
							<div class="col-md-2"><b>SOP Class UID:</b></div>
							<div class="col-md-8"><span data-dicom="x00080016"></div>
							<div class="col-md-2"></div>
						</div>					
						<div class="row">
							<div class="col-md-2"><b>Transf. Syntax UID:</b></div>
							<div class="col-md-8"><span data-dicom="x00020010"></div>
							<div class="col-md-2"></div>
						</div>					
						<div class="row">
							<div class="col-md-2"><b>Frame of Ref. UID:</b></div>
							<div class="col-md-8"><span data-dicom="x00200052"></div>
							<div class="col-md-2"></div>							
						</div>
						<div class="row">
							<div class="col-md-2"><b>Study UID:</b></div>
							<div class="col-md-7"><span data-dicom="x0020000d"></div>
							<div class="col-md-2"><img src="images/health_physics_logo_210_99.jpg" alt="HP logo" height="99" width="210"></div>
						</div>
				</div>      
			</div>
		</div>
	</body>

	<!-- Run using node.js paths  -->
	<script src="javascripts/dicomParser.js"></script>
	<script src="javascripts/jquery.min.js"></script>

	<!-- Replace Javascript with single .js file -->
	<script src="javascripts/extractData.js"></script>

</html>
